body {
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* adress */
.header-adress {
  width: 299px;
  margin: 8px auto;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

/* sention 1 */
.page-first {
  background: linear-gradient(to bottom, #1a18181a, #000000);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin: 0 auto;
  padding-bottom: 107px;
}

.header-conteiner {
  color: #1a1818;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.header-conteiner p {
  margin: 0 18px;
}

.header-conteiner-block-first {
  margin-left: 161px;
  margin-right: 533px;
}

.header-conteiner-block-first,
.header-conteiner-block-second {
  display: flex;
  flex-direction: row;
}

.header-bar {
  text-decoration-line: none;
  color: #000000;
  transition: all 0.5s ease;
}

.header-bar:hover {
  font-size: 14px;
}

.page-first-content {
  padding-bottom: 341px;
}

.content-page-text {
  width: 326px;
  font-weight: 400;
  font-size: 54px;
  line-height: 61px;
  margin: 0 auto;
  padding-top: 297px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.button {
  width: 204px;
  background: #a05b4e;
  border-radius: 30px;
  display: block;
  padding: 13px 21px 12px 12px;
  color: #ffffff;
  text-decoration-line: none;
  margin: 26px auto 0px auto;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #1a1818;
  transform: scale(1.1);
}

/* page second  */

/* title  */
.page-second {
  margin-top: 51px;
}

.text-title-page-second {
  width: 956px;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-left: 5%;
  margin-bottom: 63px;
  text-transform: uppercase;
}

.content-page-second {
  display: flex;
  justify-content: center;
  margin-bottom: 121px;
}

.page-second-conteiner-first {
  margin: 0 30px 0 0;
  width: 555px;
}

.page-second-1 {
  margin-bottom: 8px;
}

.page-second-text-first {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.page-second-text-first-1 {
  margin-right: 400px;
}

.page-second-main-images {
  display: flex;
}

.page-second-main-images-block {
  margin-right: 30px;
}

.page-second-main-images-block-1,
.page-second-main-images-block-2-1 {
  margin-bottom: 20px;
}

.page-second-main-images img {
  width: 263px;
}

.text-page-second-main-images {
  width: 300px;
}

.text-page-second-main-images {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.text-page-second-main-images-1-1,
.text-page-second-main-images-2-1,
.text-page-second-main-images-3-1,
.text-page-second-main-images-4-1 {
  margin-right: 68px;
}

/* page third */

.page-third-content {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.page-third-conteiner {
  margin-right: 217px;
  width: 385px;
  margin-top: 180px;
}

.title-page-third {
  font-weight: 400;
  font-size: 54px;
  line-height: 61px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-page-third {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}